<section class="row align-items-md-stretch mb-4">
    <h3>{{"nuestrosValores" | translate}}</h3>
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img [src]="imagenes[0].src" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{imagenes[0].nombre | translate}}</h5>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img [src]="imagenes[1].src" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{imagenes[1].nombre | translate}}</h5>
                </div>
            </div>
            <div *ngFor="let item of imagenes.slice(2,5)" class="carousel-item">
                <img [src]="item.src" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{item.nombre | translate}}</h5>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>