<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a href="/" class="navbar-brand d-flex align-items-center">
            <h3>FCC<span class="e">E</span></h3>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item" *ngFor="let item of rutasApp">
                <a [routerLink]="item.ruta" class="nav-link px-2 link-secondary">{{item.nombre | translate}}</a>
              </li>
            </ul>
            <div class="col-md-3 text-end">
              <button class="btn btn-dark me-md-2" (click)="cambiar()" type="button">
                {{ "header.bootom-language" | translate }} {{ idioma }}
              </button>
            </div>
          </div>
        </div>
      </nav>
      
</header>