<section>
  <div class="container">
    <h1>{{"aportesYayuda"| translate}}</h1>
    <div class="row">
      <h3>{{"voluntariado"| translate}}</h3>
      <div class="col-6">
        <p class=" text-sm-left">{{"voluntariadoInfo.dato1" | translate}}</p>
      </div>
      <div class="col-6">
        <p>{{"voluntariadoInfo.dato2" | translate}}</p>
      </div>
    </div>
    <div class="row mt-4">
      <h3>{{"donaciones"| translate}}</h3>
      <div class="col-12">
        <p class="centerText">{{"donacionesInfo" | translate}}</p>
      </div>

    </div>
  </div>
</section>
<section>
  <app-proyecciones></app-proyecciones>
</section>